@{
    ViewBag.Title = "Edit Frequency";
}

<div class="col-md-12">
    <section class="panel">
        <header class="panel-heading">
            Edit Frequency
        </header>
        <div class="panel-body">
            <form >
                <div class=""></div>
            </form>
        </div>
    </section>
</div>
