@{
    ViewBag.Title = "Frequencies";
}
@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/api/directives/appControls.js"></script>
    <script src="~/api/app.js"></script>
    <script src="~/api/controllers/frequencyController.js"></script>
}

<div class="row" ng-app="warehouse">
    <div ng-view></div>
</div>