@{ 
    ViewBag.Title = "Frequencies";
}
@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
}

<div class="row" ng-app="frequencies">
    <div ng-controller="">

    </div>
</div>